<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean name="laptop" class="org.example.homeworkdate_30_01_2025.Order">
        <property name="item" value="Laptop"/>
        <property name="price" value="1500"/>
    </bean>

    <bean name="pc" class="org.example.homeworkdate_30_01_2025.Order">
        <property name="item" value="PC"/>
        <property name="price" value="2500"/>
    </bean>

    <bean name="orderPayPal" class="org.example.homeworkdate_30_01_2025.PaymentGateway">
        <property name="order" ref="pc"/>
    </bean>
    <bean name="orderVisa" class="org.example.homeworkdate_30_01_2025.PaymentGateway">
        <property name="order" ref="laptop"/>
    </bean>

</beans>