<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean name="visa" class="org.example.homeworkdate_30_01_2025.Order">
        <property name="item" value="Visa"/>
        <property name="price" value="2.0"/>
    </bean>

    <bean name="paypal" class="org.example.homeworkdate_30_01_2025.Order">
        <property name="item" value="PayPal"/>
        <property name="price" value="1.0"/>
    </bean>

    <bean name="orderPayPal" class="org.example.homeworkdate_30_01_2025.PaymentGateway">
        <property name="order" ref="paypal"/>
    </bean>
    <bean name="orderVisa" class="org.example.homeworkdate_30_01_2025.PaymentGateway">
        <property name="order" ref="visa"/>
    </bean>

</beans>